// В этом файле должны быть стили для БЭМ-блока audit, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.audit {
	background: $bg-secondary;
	padding-bottom: 0 !important;
	&__inner {
		margin-top: 24px;
		display: flex;
		flex-direction: column;
		@media (min-width: $screen-md) {
			margin-top: 48px;
		}
		@media (min-width: $screen-lg) {
			display: block;
		}
	}
	&__step {
		background: $bg-primary;
		box-shadow: 26px 14px 42px rgba(83, 107, 129, 0.14);
		border-radius: 20px;
		padding: 24px;
		position: relative;
		z-index: 2;
		&_6 {
			border: 2px solid #3a7ad3;
			margin-bottom: -32px;
			padding: 30px;
		}
		& + & {
			margin-top: 16px;
		}
		@media (min-width: $screen-sm) {
			width: 400px;
			&_1 {
				.audit__arrow {
					bottom: 0;
					height: 75px;
					right: -96px;
					width: 80px;
				}
			}
			&_2 {
				margin-left: auto;
				.audit__arrow {
					bottom: 0;
					height: 75px;
					left: -96px;
					width: 80px;
				}
			}
			&_3 {
				.audit__arrow {
					bottom: 0;
					height: 75px;
					right: -96px;
					width: 80px;
				}
			}
			&_4 {
				margin-left: auto;
				.audit__arrow {
					bottom: 0;
					height: 75px;
					left: -96px;
					width: 80px;
				}
			}
			&_5 {
				.audit__arrow {
					bottom: 0;
					height: 75px;
					right: -96px;
					width: 80px;
				}
			}
			&_6 {
				margin: 0 auto -48px;
				width: 504px;
			}
		}
		@media (min-width: $screen-md) {
			padding: 32px;
			width: 480px;
		}
		@media (min-width: $screen-lg) {
			width: 400px;
			& + & {
				margin-top: 0;
			}
			&_1 {
				.audit__arrow {
					height: 98px;
					right: -320px;
					top: 52px;
					width: 304px;
				}
			}
			&_2 {
				margin-left: calc((100% - 176px) / 12 * 8 + 32px);
				margin-top: -24px !important;
				.audit__arrow {
					height: 66px;
					left: -176px;
					top: 48px;
					width: 160px;
				}
			}
			&_3 {
				margin-left: calc((100% - 176px) / 12 + 16px);
				margin-top: -16px !important;
				.audit__arrow {
					height: 50px;
					right: -320px;
					top: 96px;
					width: 304px;
				}
			}
			&_4 {
				margin-left: calc((100% - 176px) / 12 * 7 + 96px);
				margin-top: 16px !important;
				.audit__arrow {
					height: 66px;
					left: -356px;
					top: 40px;
					width: 340px;
				}
			}
			&_5 {
				margin-top: -24px !important;
				.audit__arrow {
					height: 50px;
					right: -320px;
					top: 112px;
					width: 304px;
				}
			}
			&_6 {
				margin: -40px 0 -48px auto !important;
				width: 504px;
			}
		}
		@media (min-width: $screen-xl) {
			width: 400px;
			&_1 {
				margin-left: calc((100% - 176px) / 12 + 16px);
			}
			&_2 {
				margin-left: calc((100% - 176px) / 12 * 7 + 112px);
				margin-top: -60px !important;
			}
			&_3 {
				margin-left: calc((100% - 176px) / 6 + 16px);
				margin-top: -16px !important;
			}
			&_4 {
				margin-left: calc((100% - 176px) / 12 * 7 + 112px);
				margin-top: 16px !important;
			}
			&_5 {
				margin-left: calc((100% - 176px) / 12 + 16px);
				margin-top: -24px !important;
			}
			&_6 {
				margin-bottom: -48px !important;
				margin-left: calc((100% - 176px) / 1.85 + 16px) !important;
				margin-top: -40px !important;
				width: 504px;
			}
		}
	}
	&__arrow {
		display: none;
		position: absolute;
		@media (min-width: $screen-sm) {
			display: block;
		}
		svg {
			height: 100%;
			width: 100%;
			&:nth-child(1) {
				display: block;
			}
			&:nth-child(2) {
				display: none;
			}
			@media (min-width: $screen-lg) {
				&:nth-child(1) {
					display: none;
				}
				&:nth-child(2) {
					display: block;
				}
			}
		}
	}
	&__subtitle {
		color: rgba(58, 122, 211, 0.75);
		font-family: $font-family-heading;
		font-feature-settings: 'pnum' on, 'lnum' on;
		font-size: 12px;
		font-weight: 600;
		letter-spacing: 0.03em;
		line-height: 115%;
		@media (min-width: $screen-md) {
			font-size: 14px;
		}
	}
	&__title {
		font-family: $font-family-heading;
		font-size: 16px;
		font-weight: 500;
		letter-spacing: -.5px;
		line-height: 115%;
		margin-top: 8px;
		.audit__step_6 & {
			font-weight: 600;
		}
		@media (min-width: $screen-md) {
			font-size: 24px;
		}
	}
	&__button {
		background: none !important;
		border: 2px solid #3a7ad3 !important;
		box-shadow: none !important;
		color: #3a7ad3 !important;
		display: block !important;
		margin-top: 24px;
		padding: 14px 24px !important;
		transition: all .25s ease !important;
		&:hover {
			box-shadow: 0 12px 32px #d0d6d7 !important;
			transform: translateY(-2px);
		}
	}
	&__list {
		margin: 16px 0 0;
		padding: 0;
	}
	&__li {
		color: rgba(50, 52, 65, 0.75);
		font-size: 16px;
		line-height: 100%;
		list-style: none;
		padding-left: 18px;
		position: relative;
		& + & {
			margin-top: 8px;
		}
		&::before {
			background: #3a7ad3;
			content: '';
			display: block;
			height: 6px;
			left: 4px;
			position: absolute;
			top: 5px;
			width: 6px;
		}
	}
}
