// В этом файле должны быть стили для БЭМ-блока footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.footer {
	background: $bg-secondary;
	padding-top: 320px;
	position: relative;
	@media (min-width: $screen-sm) {
		padding-top: 400px;
	}
	@media (min-width: $screen-md) {
		padding-top: 0;
	}
	&__grid {
		display: grid;
		grid-template-rows: 320px auto;
		grid-template-areas:
			'map'
			'info';
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		@media (min-width: $screen-md) {
			grid-template-columns: auto calc(100vw - ((100vw - 688px)/2 + 360px));
			grid-template-rows: 100% 100%;
			grid-template-areas:
				'info map';
		}
		@media (min-width: $screen-lg) {
			grid-template-columns: auto calc(100vw - ((100vw - 928px)/2 + 384px));
		}
		@media (min-width: $screen-xl) {
			grid-template-columns: auto calc(100vw - ((100vw - 1232px)/2 + 408px));
		}
	}
	&__grid-item {
		@media (min-width: $screen-md) {
			height: 100%;
		}
		&:nth-child(1) {
			grid-area: info;
		}
		&:nth-child(2) {
			grid-area: map;
		}
	}
	&__map {
		height: 320px;
		position: relative;
		width: 100%;
		@media (min-width: $screen-sm) {
			height: 400px;
		}
		@media (min-width: $screen-md) {
			height: 100%;
		}
		iframe {
			border: none !important;
		}
	}
	&__anchor {
		height: 1px;
		left: 0;
		position: absolute;
		top: -64px;
		width: 10px;
		@media (min-width: $screen-md) {
			top: -96px;
		}
		@media (min-width: $screen-xl) {
			top: -48px;
		}
	}
}
