// В этом файле должны быть стили для БЭМ-блока license, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.license {
	background: $bg-secondary;
	&__inner {
		position: relative;
	}
	&__slider {
		margin: 24px -16px 0;
		padding: 0 24px 40px;
		@media (min-width: $screen-sm) {
			margin: 24px auto 0;
			padding: 0 24px 56px;
			width: calc(100% - 160px);
		}
		@media (min-width: $screen-md) {
			margin: 48px auto -44px;
		}
	}
	&__wrapper {}
	&__slide {
		height: auto;
	}
	&__slider-button {
		align-items: center;
		background: $color-white;
		box-shadow: 0 9px 21px #dfe9eb;
		border-radius: 32px;
		cursor: pointer;
		display: none;
		justify-content: center;
		height: 64px;
		outline: none;
		position: absolute;
		top: calc(50% - 36px);
		transform: translateY(-50%);
		transition: all .25s ease;
		width: 64px;
		z-index: 2;
		@media (min-width: $screen-sm) {
			display: flex;
		}
		&:hover {
			box-shadow: 0 12px 32px #d0d6d7;
		}
		&_next {
			right: 0;
		}
		&_prev {
			left: 0;
		}
		&[aria-disabled='true'] {
			opacity: .25;
			pointer-events: none;
		}
	}
	&__slider-icon {
		height: 20px;
		width: 20px;
	}

	&__link {
		background: #fff;
		border-radius: 24px;
		box-shadow: 0 9px 21px #dfe9eb;
		display: block;
		overflow: hidden;
		position: relative;
		margin: 0 auto;
		max-width: 320px;
		@media (min-width: $screen-sm) {
			margin: 0;
			max-width: none;
		}
		&::before {
			background: url("/img/icon__zoom.png") center no-repeat, rgba(30,61,104,0);
			content: '';
			display: block;
			height: 100%;
			position: absolute;
			transition: background .25s ease;
			width: 100%;
		}
		&:hover::before {
			background: url("/img/icon__zoom.png") center no-repeat, rgba(30,61,104,.05);
		}
	}
	&__img {
		display: block;
		height: auto;
		width: 100%;
	}
}
